

/*
http://clrs.cc/
*/
body {
  margin: 0;
  font-family: Avenir Next, Helvetica;
  overflow: hidden;
}

.samsara-surface {
  display: table;
}

middle {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

input:focus { outline: none; }

._shadow {
  -moz-box-shadow: 0 4px 12px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.5);
  box-shadow: 0 4px 12px rgba(0,0,0,.5);
}

.shadow {
  /*
  -webkit-box-shadow: 0 22px 54px rgba(0,0,0,0.5);
  box-shadow: 0 22px 54px rgba(0,0,0,0.5);
  */
  box-shadow: 5px 5px 72px rgba(30, 46, 50, 0.5);
}

.diag {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M1 0 L0 1 L99 100 L100 99' fill='black' /><path d='M0 99 L99 0 L100 1 L1 100' fill='black' /></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
}

.disabled {
  pointer-events: none;
  /*
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  */
}

.gradient {
  background-image: -webkit-linear-gradient(45deg, #f86a6c 0%, #fd588a 100%);
  background-image: linear-gradient(45deg, #f86a6c 0%, #fd588a 100%);
}

/*
.bg-pin-ui-grey {
  background-color: rgb(91, 91, 91);
}

.pin-ui-secondary-dark {
  background-color: rgb(5,6,17);
}

.ui.header, .ui.form, .ui.form .field>label {
  color: rgb(230,230,230) !important;
}

.ui.form input {
  background-color: rgb(22, 24, 35) !important;
  color: rgb(230,230,230) !important;
}
*/
