

/*
http://clrs.cc/
*/
body {
  margin: 0;
  font-family: Avenir Next, Helvetica;
  overflow: hidden;
}

.samsara-surface {
  display: table;
}

middle {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

input:focus { outline: none; }

.shadow {
  -moz-box-shadow: 0 4px 12px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.5);
  box-shadow: 0 4px 12px rgba(0,0,0,.5);
}

.diag {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M1 0 L0 1 L99 100 L100 99' fill='black' /><path d='M0 99 L99 0 L100 1 L1 100' fill='black' /></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
}

.disabled {
  pointer-events: none;
  /*
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  */
}
